language: python
sudo: false
cache:
  - pip
python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "pypy"
  - "pypy3"
env:
  matrix:
    - DJANGO="Django<1.8,>=1.7"
    - DJANGO="Django<1.9,>=1.8"
    - DJANGO="-e git+https://github.com/django/django.git@master#egg=Django"
matrix:
  fast_finish: true
  allow_failures:
    - env: DJANGO="-e git+https://github.com/django/django.git@master#egg=Django"
install:
  - pip install --upgrade pip
  - pip install -e .
  - pip install -r requirements-dev.txt
  - pip install $DJANGO
  - pip install --upgrade coveralls
script:
  - isort --check-only --recursive --diff .
  - flake8 --jobs=2 .
  - pep257
  - coverage run # Your run command.
after_success:
  - coveralls
